# Database Configuration
DATABASE_URL=your_database_url # from railway

# Telegram Bot Configuration
BOT_TOKEN=your_bot_token
BOT_USERNAME=your_bot_username
DISABLE_TELEGRAM_AUTH=true
#password and username of admin panel page
DEFAULT_ADMIN_USERNAME=superadmin
DEFAULT_ADMIN_PASSWORD=strong_password
ADMIN_JWT_SECRET=some_long_secret
# to enable file uploads they found from the supabase 
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Groq AI Configuration (for text generation in admin panel)
GROQ_API_KEY=your_groq_api_key